<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Stotify</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="well">
          <h1>Stotify</h1>
          
          <form action="/search" method="get"> 
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Escribe tu canción o artista favorito">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
              </div>
            </div>
          </form>
          
          {{{body}}}
          
        </div>
      </div>
    </div>
  </div>
</body>
</html>