h1 {
  text-align: center;
  margin-bottom: 40px; 
}

.form-search {
  width: 100%;
}

.items .item {
  margin-top: 20px;
}

.items .item img {
  width: 200px;
}

.items .item h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.items .item h3 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 20px;
}

